[Unit]
Description=Sensor temperature
After=network.target

[Service]
User=valdisd
ExecStart=/opt/grow-operate/venv/bin/python /opt/grow-operate/src/temperature.py
Environmen=/opt/grow-operate/.env
WorkingDirectory=/opt/grow-operate
Restart=always
KillMode=process
TimeoutStopSec=10
ExecStop=/bin/kill $MAINPID
StandardOutput=append:/opt/grow-operate/temperature-service.log
StandardError=append:/opt/grow-operate/temperature-service.log

[Install]
WantedBy=multi-user.target