[Unit]
Description=Sensors metrics exporter service
After=network.target

[Service]
User=valdisd
ExecStart=/opt/grow-infra/sensor-exporter/venv/bin/python /opt/grow-infra/sensor-exporter/main.py
WorkingDirectory=/opt/grow-infra/sensor-exporter/
Restart=always
KillMode=process
TimeoutStopSec=10
ExecStop=/bin/kill $MAINPID
StandardOutput=append:/opt/grow-infra/sensor-exporter/logs/temperature-service.log
StandardError=append:/opt/grow-infra/sensor-exporter/logs/temperature-service.log

[Install]
WantedBy=multi-user.target